<h2>New Conference</h2>
<%= form_for(@conference) do |f| %>
  <p>
    <%= f.label :name, 'Conference Name' %><br />
    <%= f.text_field :name %>
  </p>
   <p>
    <%= f.label :date, 'Date' %><br />
    <%= f.text_field :date %>
  </p>
   <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>
   <p>
    <%= f.label :organizer %><br />
    <%= f.text_field :organizer %>
  </p>
   <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <%= f.submit %>

<% end %>