<!DOCTYPE html>
<html>
<head>
  <title>Talkingheads</title>
   <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta property="og:title" content="Talking Heads - Tech conferences from all over" />
    <meta property="og:description" content="Talkingheads is a hub for tech conferences. Watch videos, read slides, add to favorites and comment. Knowledge has never been so accessible." />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

</head>
<body>
<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
